.drum__button {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: background-color .16s ease;
  border: 0;
  background-color:   #9400D3;
  outline: none;
  margin-bottom: 10px;
  opacity: .9;
}

.drum__button.is-active {
}

.drum__audio {
  display: none;
}

.drum-clicked--true {
  background-color:   #FF00FF;
}
